<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or "Versioned Eleventy Example" }}</title>
  </head>
  <body>
    <header><a href="{{ "/" | url }}">Versioned Eleventy Example</a></header>
    <main>{{ content | safe }}</main>
  </body>
</html>
